.box{
    width: 70px;
    height: 70px;
    vertical-align: top;
}

.inner-box-container {
    margin: 2px;
}

.container-main {
    max-width: 480px;
}
.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }
.btn-circle {
    width: 38px;
    height: 38px;
    border-radius: 19px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
}